<div id="<%= dom_id investment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Coin:</strong>
    <%= investment.coin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Interest:</strong>
    <%= investment.interest %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Balance init:</strong>
    <%= investment.balance_init %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this investment", investment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this investment", edit_investment_path(investment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
